# Core functionality - changes here should be rare!
/src/app.py                   @sherifabdelbast
/src/backend/database.py      @sherifabdelbast
/src/backend/routers/auth.py  @sherifabdelbast

# The frontend will need refactored soon to be more object oriented.
/src/static/   @sherifabdelbast
